body {
  margin: 0;
  padding: 0; }

section {
  font-family: 'PT Sans', sans-serif; }

.one .top-img {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  height: 640px;
  background-size: cover;
  background-position: 0 -70px; }
  .one .top-img .content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 46px; }
    .one .top-img .content-wrapper .left-item a, .one .top-img .content-wrapper .right-item a {
      outline: none; }
      .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img {
        width: 180px; }
    .one .top-img .content-wrapper .left-item {
      margin-left: 25px; }
    .one .top-img .content-wrapper .right-item {
      margin-right: 25px; }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block {
      position: relative; }
      .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what {
        background-color: #302662;
        width: 542px;
        height: 249px; }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1 {
          color: #d02537;
          margin: 0;
          padding: 10px 52px 0 54px;
          font-size: 107px;
          text-transform: uppercase;
          font-family: 'BrutalBold'; }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {
          text-transform: uppercase;
          color: white;
          font-family: 'BrutalMedium';
          margin: 0;
          line-height: 0;
          font-weight: 500;
          font-size: 50px;
          letter-spacing: 1px;
          padding: 25px 49px 35px 54px; }
      .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where {
        background-color: #d12243;
        width: 276px;
        height: 72px;
        position: absolute;
        bottom: -45px;
        right: 47px;
        text-align: center; }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where h3 {
          margin: 0;
          padding: 14px 0;
          color: white;
          font-family: 'BrutalMedium';
          font-size: 35px;
          text-transform: uppercase; }
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title {
      margin-top: 92px;
      text-align: center; }
      .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {
        color: #302662;
        padding: 0;
        padding-right: 5px;
        font-family: 'BrutalMedium';
        margin: 0;
        text-transform: uppercase;
        font-size: 25px; }

.two {
  min-height: 650px;
  position: relative;
  border-top: 1px solid rgba(229, 227, 227, 0.3); }
  .two .wrappep-two {
    margin-right: 23%;
    margin-left: 23%;
    position: absolute; }
    .two .wrappep-two .content {
      margin-top: 61px; }
      .two .wrappep-two .content p {
        font-size: 30px;
        font-family: 'PT Sans', sans-serif;
        font-weight: lighter;
        text-align: left;
        padding-bottom: 10px;
        font-weight: 500; }
        .two .wrappep-two .content p span {
          font-weight: bold; }
    .two .wrappep-two .content-number {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 100px; }
      .two .wrappep-two .content-number img {
        margin: 5px; }
  .two .img-two {
    position: absolute; }
  .two .left {
    left: 0; }
  .two .right {
    right: 0; }
  .two .three-item-two {
    left: 26%;
    top: -25px; }
  .two .fowr-item-two {
    right: 25%;
    top: 30%; }
  .two .five-item-two {
    top: 50%;
    right: 40%; }
  .two .right-half {
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100px; }
  .two .left-half {
    left: 0;
    bottom: -5%;
    transform: rotate(90deg);
    width: 150px; }

.centet-item-mobile {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 40px; }
  .centet-item-mobile .blok-wrap .main-block {
    text-align: center;
    position: relative; }
    .centet-item-mobile .blok-wrap .main-block .block-what {
      background-color: #302662;
      width: 250px;
      height: 120px; }
      .centet-item-mobile .blok-wrap .main-block .block-what h1 {
        color: #d02537;
        margin: 0;
        padding: 0;
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'BrutalBold'; }
      .centet-item-mobile .blok-wrap .main-block .block-what h2 {
        text-transform: uppercase;
        color: white;
        font-family: 'BrutalMedium';
        margin: 0;
        line-height: 0;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0; }
    .centet-item-mobile .blok-wrap .main-block .block-where {
      background-color: #d12243;
      width: 108px;
      height: 30px;
      position: absolute;
      bottom: -14px;
      right: 30px;
      text-align: center; }
      .centet-item-mobile .blok-wrap .main-block .block-where h3 {
        margin: 0;
        padding: 5px 2px;
        color: white;
        font-family: 'BrutalMedium';
        font-size: 14px;
        text-transform: uppercase; }
  .centet-item-mobile .blok-wrap .second-title {
    margin-top: 62px;
    text-align: center; }
    .centet-item-mobile .blok-wrap .second-title h4 {
      color: #302662;
      padding: 0;
      padding-right: 0;
      margin: 0;
      font-family: 'BrutalMedium';
      text-transform: uppercase;
      font-size: 11px; }
