@font-face {
    font-family: "BrutalBold";
    src: url("../fonts/BrutalBold.ttf") format("ttf"),
    url("../fonts/BrutalBold.eot") format("eot"),
    url("../fonts/BrutalBold.woff") format("woff");
}
@font-face {
    font-family: "BrutalLight";
    src: url("../fonts/BrutalLight.ttf") format("ttf"),
    url("../fonts/BrutalLight.eot") format("eot"),
    url("../fonts/BrutalLight.woff") format("woff");
}
@font-face {
    font-family: "BrutalMedium";
    src: url("../fonts/BrutalMedium.ttf") format("ttf"),
    url("../fonts/BrutalMedium.eot") format("eot"),
    url("../fonts/BrutalMedium.woff") format("woff");
}   
@font-face {
    font-family: "BrutalRegular";
    src: url("../fonts/BrutalRegular.ttf") format("ttf"),
    url("../fonts/BrutalRegular.eot") format("eot"),
    url("../fonts/BrutalRegular.woff") format("woff");
}