@media screen and (max-width: 1920px) {
    .one .top-img{height: 678px;}
 }
 @media screen and (max-width: 1764px) {
    .one .top-img{height: 623px;}
 }
@media screen and (max-width: 1600px) {
    .one .top-img {background-size: 100%;}
    .blok-wrap{margin-right: 30px;}
    .one .top-img{height: 610px;}
 }
 @media screen and (max-width: 1500px) {
    .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img{width: 140px;}
    .blok-wrap{margin-right: 0px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where{
    width: 217px;
    height: 48px;
    bottom: -28px;
    right: 47px;
    }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
    width: 430px;
    height: 210px;
    }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {font-size: 35px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1{font-size: 80px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where h3 {font-size: 25px;padding: 9px 0;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {font-size: 19px;}
    .one .top-img{height: 545px;}
 }
 @media screen and (max-width: 1450px) {
    .two .wrappep-two .content p{font-size: 25px;}
    .two .left,.two .right {width: 280px;}
    .two .three-item-two{width: 260px;}
    .two .wrappep-two .content-number img{width: 160px;}
 }
 @media screen and (max-width: 1280px) {
    .one .top-img{height: 461px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
        width: 397px;
        height: 180px;
        }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {font-size: 32px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1{font-size: 70px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title{margin-top: 112px;}
 }

 @media screen and (max-width: 1230px) {
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {font-size: 25px;padding: 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1{font-size: 60px;padding: 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {font-size: 17px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
        width: 369px;
        height: 180px;
        text-align: center;
        }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where{right: 30px;}
        .two .left,.two .right {width: 230px;}
        .two .three-item-two{width: 230px;}
        .two .wrappep-two .content-number img{width: 140px;}
 }

 @media screen and (max-width: 1110px) {
    .one .top-img{height: 410px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {font-size: 25px;padding: 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1{font-size: 60px;padding: 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {font-size: 15px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
        width: 330px;
        height: 164px;
        }
        .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where{
            width: 180px;
            height: 40px;
        }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where h3{font-size: 22px;padding: 7px 0;}
    .two .wrappep-two{margin-right: 25%;margin-left: 25%;}
    .two .wrappep-two .content p{font-size: 21px;}
 }
 @media screen and (max-width: 1110px) {
    .one .top-img{height: 410px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h2 {font-size: 22px;padding: 0 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what h1{font-size: 53px;padding: 10px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {font-size: 14px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
        width: 330px;
        height: 135px;
        }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where h3{font-size: 20px;padding: 4px 0;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where{
        width: 160px;
        height: 30px;
        bottom: -15px;
    }
 }
 @media screen and (max-width: 980px) {
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4 {font-size: 13px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{
        width: 285px;
        height: 135px;
        }
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where h3{font-size: 17px;padding: 2px 0;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-where{
        width: 140px;
        height: 25px;
        bottom: -10px;
    }
    .two .left,.two .right {width: 200px;}
    .two .three-item-two{width: 200px;}
    .two .wrappep-two .content-number img{width: 120px;}
    .two .wrappep-two .content-number{margin-top: 70px;}
    .one .top-img{background-size: cover;background-position: -26px -70px;}
    .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img{width: 100px;}
 }

 @media screen and (max-width: 980px) {
    .one .top-img{background-size: cover;background-position: -40px -70px;}
 }
 @media screen and (max-width: 903px) {
    .one .top-img{background-size: cover;background-position: -60px -70px;}
 }
 @media screen and (max-width: 860px) {
    .one .top-img{background-size: cover;background-position: -90px -70px;}
 }
 @media screen and (max-width: 780px) {
    .one .top-img{background-size: cover;background-position: -120px -70px;}
 }
 @media screen and (max-width: 768px) {
    .one .top-img{background-size: cover;background-position: -130px -70px;
    
    
    }
 }
 @media screen and (max-width: 736px) {
    .one .top-img{background-size: cover;background-position: -150px -70px;}
 }
 @media screen and (max-width: 667px) {
    .one .top-img{background-size: cover;background-position: -180px -70px;}

 }
 @media screen and (max-width: 640px) {
    .one .top-img{background-size: 166%;background-position: -200px 0;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title{margin-top: 60px;}
    .one .top-img .content-wrapper .centet-item {margin-top: 30px;}
    .two .left-half{width: 103px;}
    .two .right-half{width: 60px;}
    .two .wrappep-two .content-number img{margin: 13px;width: 110px;}
    .two .wrappep-two{margin-left: 20%;}
 }
 
 @media screen and (max-width: 737px) {
    .one .top-img{background-size: 175%;background-position: -232px 0;}
    .two .three-item-two{width: 115px;}
    .two .left, .two .right{display: none;}
    .two .three-item-two{left: -30px;top:13%;}
    .two .fowr-item-two{right: 37%;top: 9%;}
    .two .five-item-two {
        top: 24%;
        right: 0;
    }
    .two .left-half{display: none;}
    .two .wrappep-two .content-number{margin-top: 25px;}
    .two{min-height: 562px;}
    .two .right-half {
        bottom: 30%;
    }
 }
 @media screen and (max-width: 594px) {
    .one .top-img{background-size: 181%;}
 }
 @media screen and (max-width: 554px) {
    .one .top-img{background-size: 185%;background-position: -246px 0;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .main-block .block-what{width: 241px;}
    .one .top-img .content-wrapper .centet-item .blok-wrap .second-title h4{font-size: 11px;}
    .one .top-img{height: 354px;}
    .one .top-img .content-wrapper{padding-top: 15px;}
 }
 @media screen and (max-width: 414px) {
    .two .three-item-two{top: -5px;}
 }
 @media screen and (max-width: 521px) {
     .mobile-img{
        background-image: url('../img/mob_main.png')!important;
     }
    .one .top-img {
        background-size: contain;
        background-position: top center;
    }

    .one .top-img .content-wrapper .left-item{margin-left: 0;}
    .one .top-img .content-wrapper .right-item{margin-right: 0;}
    .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img{width: 138px;}
    .one .top-img .content-wrapper .centet-item {
        display: none;
    }
     .centet-item-mobile{
        display: flex!important;
    }
    .blok-wrap{margin-right: 0;}
    .two {
        min-height: 496px;
    }
    .two .left, .two .right{width: 120px;}
    .two .three-item-two {
        width: 115px;
    }
    .two .five-item-two{display: none;}
    .two .right-half{width: 60px;}
    .two .left-half{width: 100px;}
    .two .wrappep-two{margin: 0;}
    .two .wrappep-two .content{margin-top: 60px;}
    .two .wrappep-two .content p {
        font-size: 21px;
        margin: 0;
        padding: 0 0px 50px 20px;
    }
    .two .wrappep-two .content-number {
        margin-top: 0;
    }
 }
 @media screen and (max-width: 480px) {
    .centet-item-mobile .blok-wrap .main-block .block-what {
        background-color: #302662;
        width: 228px;
        height: 110px;
    }
    .centet-item-mobile .blok-wrap .main-block .block-what h2{font-size: 21px;letter-spacing: 0px;}
    .centet-item-mobile .blok-wrap .main-block .block-what h1{font-size: 44px;}
 }
 @media screen and (max-width: 414px) {
    .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img{width: 95px;}
    .centet-item-mobile .blok-wrap .main-block .block-what {
        background-color: #302662;
        width: 217px;
        height: 94px;
    }
    .centet-item-mobile .blok-wrap .main-block .block-what h2{font-size: 20px;letter-spacing: 0px;}
    .centet-item-mobile .blok-wrap .main-block .block-what h1{font-size: 43px;}
    .centet-item-mobile .blok-wrap .main-block .block-where{width: 104px;height: 26px;}
    .centet-item-mobile .blok-wrap .main-block .block-where h3{font-size: 12px;}
    .two .fowr-item-two{display: none;}
    .two .wrappep-two .content-number img{margin: 0;width: 85px;}
 }
 @media screen and (max-width: 375px) {
    .one .top-img .content-wrapper .left-item a img, .one .top-img .content-wrapper .right-item a img{width: 88px;}
    .centet-item-mobile .blok-wrap .main-block .block-what {
        width: 163px;
        height: 68px;
    }
    .centet-item-mobile .blok-wrap .main-block .block-what h2{font-size: 15px;letter-spacing: 0px;}
    .centet-item-mobile .blok-wrap .main-block .block-what h1{font-size: 33px;}
    .centet-item-mobile .blok-wrap .main-block .block-where{width: 80px;height: 23px;}
    .centet-item-mobile .blok-wrap .main-block .block-where h3{font-size: 10px;}
    .centet-item-mobile .blok-wrap .second-title h4{font-size: 8px;}
    .one .top-img{height: 266px;}
    .two .wrappep-two .content-number img{margin: 0;width: 75px;}
    .centet-item-mobile{margin-top: 20px;}
    
 }
