.row-action {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.card-action {
    margin: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    border: 1px solid #ABCB16;
    color: #D6D6D6;
}
.descr-action {
    padding: 3px;
}
.card-action img{
    width: 370px;
    padding: 3px;
}

.card-action a {
    color: white;
    padding: 20px 40px;
    margin: 3px;
    background-color: #ABCB16;   
    transition: .3s
}
.card-action:hover {
    background-color: #4e4e4e;
}
.card-action a:hover {
    padding: 20px 50px;    
}
.row-one-action {
    display: flex;
    justify-content: center;
}
.one-card-action{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-card-action img {
    width: 700px;
}
.one-card-descr {
    color: #D6D6D6;
    font-size: 16px;
    text-align: justify;
    margin: 10px 30px;
}

@media screen and (max-width: 500px) {
    .card-action{margin: 10px 0;width: 270px;}
    .card-action img {width: 250px;}
    }
    
@media screen and (max-width: 1280px) {
    .one-card-action img {
        width: 500px;
    }
    }

    @media screen and (max-width: 1050px) {
        .one-card-action img {
            width: 350px;
        }
        }