@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #505050; }

.bg-wrap {
  height: 100%; }
  .bg-wrap img {
    display: block;
    left: 0;
    margin: 0 auto auto;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0; }

.content-wrap {
  position: relative; }
  .content-wrap header {
    background-color: rgba(18, 18, 18, 0.7);
    position: fixed;
    width: 100%;
    height: 66px;
    z-index: 10; }
    .content-wrap header .header-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
      -ms-flex-align: center;
          align-items: center; }
      .content-wrap header .header-content .header-content-logo img {
        height: 65px; }
      .content-wrap header .header-content .header-content-number, .content-wrap header .header-content .header-content-work {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #C4C4C4; }
        .content-wrap header .header-content .header-content-number span, .content-wrap header .header-content .header-content-work span {
          color: #ABCB16; }
      .content-wrap header .header-content .header-content-search {
        position: relative; }
        .content-wrap header .header-content .header-content-search input {
          border: 1px solid #ABCB16;
          padding: 5px 15px;
          background-color: rgba(196, 196, 196, 0.13);
          color: rgba(196, 196, 196, 0.35);
          outline: none;
          height: auto;
          width: auto; }
        .content-wrap header .header-content .header-content-search svg {
          position: absolute;
          top: 5px;
          right: 5px; }
      .content-wrap header .header-content .header-content-cart {
        cursor: pointer; }
        .content-wrap header .header-content .header-content-cart .cart {
          position: relative; }
          .content-wrap header .header-content .header-content-cart .cart .circly {
            position: absolute;
            top: -2px;
            right: -6px;
            color: white;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: red;
            font-size: 12px;
            text-align: center; }
  .content-wrap .content-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 66px 0 0 0; }
    .content-wrap .content-center .wrap-content {
      background-color: rgba(49, 49, 49, 0.74);
      min-height: 900px;
      margin-right: 120px;
      margin-left: 120px;
      width: 100%; }
      .content-wrap .content-center .wrap-content .wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .content-wrap .content-center .wrap-content .wrapper .slider {
          margin-top: 11px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          overflow: hidden; }
          .content-wrap .content-center .wrap-content .wrapper .slider .main-stock {
            width: 904px; }
          .content-wrap .content-center .wrap-content .wrapper .slider .second-content {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column; }
            .content-wrap .content-center .wrap-content .wrapper .slider .second-content .item-stock {
              position: relative;
              margin-bottom: 4px; }
              .content-wrap .content-center .wrap-content .wrapper .slider .second-content .item-stock img {
                height: 109px;
                width: 331px; }
              .content-wrap .content-center .wrap-content .wrapper .slider .second-content .item-stock:before {
                content: '';
                background-color: rgba(33, 33, 33, 0.79);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; }
              .content-wrap .content-center .wrap-content .wrapper .slider .second-content .item-stock a {
                position: absolute;
                top: 40%;
                left: 45%;
                text-decoration: none;
                color: #ABCB16;
                font-family: Roboto, sans-serif;
                font-size: 16px;
                font-weight: 500; }
            .content-wrap .content-center .wrap-content .wrapper .slider .second-content .all-stock {
              background-color: rgba(119, 119, 119, 0.14);
              font-family: Roboto, sans-serif;
              font-size: 16px;
              font-weight: 500;
              text-decoration: none;
              text-align: center;
              margin-top: 7px;
              padding: 10px; }
              .content-wrap .content-center .wrap-content .wrapper .slider .second-content .all-stock a {
                color: #AEAEAE;
                text-decoration: none; }
        .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          -ms-flex-pack: center;
              justify-content: center;
          margin-top: 24px; }
          .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .wrapper-menu {
            width: 583px;
            background-color: #2F2F2F;
            height: 600px;
            margin-left: 105px; }
            .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .wrapper-menu ul {
              list-style: none;
              padding: 10px;
              margin-bottom: 40px; }
              .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .wrapper-menu ul li {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                    align-items: center;
                -ms-flex-pack: center;
                    justify-content: center;
                padding: 10px;
                border-bottom: 1px solid #5C5C5C;
                transition: .4s;
                line-height: 1.7; }
                .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .wrapper-menu ul li a {
                  font-size: 18px;
                  font-family: Roboto, sans-serif;
                  color: #D6D6D6;
                  padding-left: 5px; }
                .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .wrapper-menu ul li:hover {
                  background-color: rgba(255, 255, 255, 0.3); }

.contentright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .contentright .headtitle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
    .contentright .headtitle .title {
      font-size: 18px;
      color: #7E7E7E;
      font-family: Roboto, sans-serif; }
    .contentright .headtitle .filter {
      display: -ms-flexbox;
      display: flex;
      color: #7E7E7E;
      font-family: Roboto, sans-serif;
      -ms-flex-align: center;
          align-items: center; }
      .contentright .headtitle .filter .price, .contentright .headtitle .filter .hot {
        border: 1px solid #4E4E4E;
        padding: 2px;
        margin-left: 5px; }
      .contentright .headtitle .filter .price {
        cursor: pointer; }
        .contentright .headtitle .filter .price:after {
          content: '\25BC'; }
        .contentright .headtitle .filter .price:active:after {
          content: '\25B2'; }
      .contentright .headtitle .filter .hot {
        color: red; }
        .contentright .headtitle .filter .hot input {
          opacity: 1;
          position: static;
          margin: 2px 5px 0 5px;
          pointer-events: fill; }
  .contentright .positions .wrap-food {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .contentright .positions .wrap-food .row-food {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .contentright .positions .wrap-food .row-food .one-line-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .contentright .positions .wrap-food .row-food .one-line-row .item-food {
          width: 229px;
          height: 355px;
          text-align: center;
          border: 1px solid #888888;
          margin: 14px;
          position: relative; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .hot-item-food {
            display: none;
            position: absolute;
            background-image: url(../img/icon/star.png);
            width: 43px;
            height: 49px;
            line-height: 49px;
            top: -21px;
            left: -15px;
            font-family: Roboto,sans-serif;
            color: white;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 13px; }
            .contentright .positions .wrap-food .row-food .one-line-row .item-food .hot-item-food i {
              color: #E83800; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .img-wrapper {
            height: 120px;
            width: 214px;
            margin: 6px 7px;
            overflow: hidden; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .title-food, .contentright .positions .wrap-food .row-food .one-line-row .item-food .food-descr, .contentright .positions .wrap-food .row-food .one-line-row .item-food .price {
            color: #7E7E7E;
            font-family: Roboto, sans-serif;
            -ms-flex-align: center;
                align-items: center; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .title-food {
            font-weight: bold;
            font-size: 18px;
            text-align: center; }
            .contentright .positions .wrap-food .row-food .one-line-row .item-food .title-food a {
              text-decoration: none;
              color: #afafaf; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .food-descr {
            font-size: 13px;
            text-align: center; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food .price {
            font-size: 24px;
            text-align: left;
            padding-left: 3px;
            margin: 10px;
            color: #D0D0D0; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food button {
            background-color: #88A408;
            outline: none;
            text-align: center;
            padding: 6px 37px;
            border: none;
            color: white;
            cursor: pointer;
            font-family: Roboto, Arila, sans-serif; }
          .contentright .positions .wrap-food .row-food .one-line-row .item-food:hover {
            background-color: #fff; }
            .contentright .positions .wrap-food .row-food .one-line-row .item-food:hover .title-food {
              color: #282828; }
            .contentright .positions .wrap-food .row-food .one-line-row .item-food:hover .food-descr {
              color: #878787; }
            .contentright .positions .wrap-food .row-food .one-line-row .item-food:hover .price {
              color: #4C4C4C; }

/*Костыли*/
.acent {
  margin-top: 20px;
  border: 1px solid #ABCB16 !important; }

.hww {
  height: 413px !important; }

.pagination-food {
  margin-top: 10px; }
  .pagination-food ul {
    display: -ms-flexbox;
    display: flex; }
    .pagination-food ul li {
      padding: 0 4px; }
      .pagination-food ul li a {
        color: #696969;
        padding: 3px; }

.pagination-active {
  border: 1px solid #D0D0D0; }

.modal {
  width: 500px !important; }

.modal .modal-footer {
  text-align: center !important; }

.topch {
  padding: 10px; }

.hashot {
  display: block !important; }

.tabs .indicator {
  background-color: unset; }

.tabs .tab a {
  color: #9C9B9B; }

.tabs {
  background-color: unset; }

.tabs .tab a:hover, .tabs .tab a.active {
  color: #9C9B9B; }

.tabs .tab:active {
  background-color: unset; }

/*Костыли*/
footer {
  margin-top: 70px;
  margin-bottom: 70px; }
  footer .threepixborder {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.27);
    width: 95%;
    margin-left: 30px; }
  footer .footer-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    margin: 10px; }
    footer .footer-content .content-col ul li {
      padding: 5px; }
      footer .footer-content .content-col ul li a {
        color: #B1B1B1;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-size: 18px; }

.social-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .social-footer span {
    color: #B1B1B1;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px; }
  .social-footer .socialicon {
    display: -ms-flexbox;
    display: flex; }
    .social-footer .socialicon li a {
      color: #88A408 !important;
      font-size: 35px !important; }

/*full-item*/
.full-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border: 2px solid #888888;
  padding: 20px; }
  .full-item .full-item-body {
    display: -ms-flexbox;
    display: flex;
    margin: 10px; }
    .full-item .full-item-body .fullimg img {
      height: 200px;
      width: 333px; }
    .full-item .full-item-body .fulldescr {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-bottom: 10px;
      padding-left: 85px;
      padding-top: 14px;
      padding-right: 40px; }
      .full-item .full-item-body .fulldescr .titlefull {
        font-family: Roboto,sans-serif;
        font-size: 27px;
        color: #CECECE;
        text-align: left; }
      .full-item .full-item-body .fulldescr span {
        color: #6A6A6A;
        font-size: 10px; }
      .full-item .full-item-body .fulldescr .ltutlefull-line {
        display: -ms-flexbox;
        display: flex; }
        .full-item .full-item-body .fulldescr .ltutlefull-line ul {
          padding: 4px; }
          .full-item .full-item-body .fulldescr .ltutlefull-line ul li {
            font-size: 17px;
            color: #CCCCCC;
            list-style-type: circle !important; }
        .full-item .full-item-body .fulldescr .ltutlefull-line .otziv {
          font-family: Roboto,sans-serif; }
          .full-item .full-item-body .fulldescr .ltutlefull-line .otziv span {
            font-size: 13px;
            padding: 3px; }
          .full-item .full-item-body .fulldescr .ltutlefull-line .otziv p {
            background-color: rgba(195, 195, 195, 0.07);
            width: 177px;
            height: 95px;
            padding: 10px;
            color: #E0E0E0; }
          .full-item .full-item-body .fulldescr .ltutlefull-line .otziv a {
            color: #88A408;
            font-size: 13px; }
  .full-item .full-item-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background-color: rgba(106, 106, 106, 0.21); }
    .full-item .full-item-footer span {
      color: #efefef;
      font-size: 30px; }
    .full-item .full-item-footer button {
      background-color: #88A408;
      outline: none;
      text-align: center;
      padding: 6px 77px;
      border: none;
      color: white;
      cursor: pointer;
      font-family: Roboto, Arila, sans-serif; }

.andfull {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

.content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .adnfull-wrap-menu {
  width: 370px;
  margin-left: 70px; }

.adnfull-contentright {
  margin-right: 76px; }

.naviation {
  margin-top: 10px;
  color: #6C6C6C; }
  .naviation a {
    color: #6C6C6C; }

.withit {
  text-align: center;
  margin-top: 10px; }
  .withit span {
    color: #DBDBDB;
    font-size: 15px;
    font-family: Roboto,sans-serif; }

.withit-items {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #888888;
  padding: 10px; }
  .withit-items .wrapper-items-withit {
    font-family: Roboto, sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .withit-items .wrapper-items-withit .img-withit img {
      width: 143px;
      height: 110px; }
    .withit-items .wrapper-items-withit .content-withit {
      margin: 10px; }
      .withit-items .wrapper-items-withit .content-withit .title-withit {
        font-size: 15px;
        color: #FCFCFC; }
      .withit-items .wrapper-items-withit .content-withit .price-withit {
        font-size: 25px;
        color: #FCFCFC; }
      .withit-items .wrapper-items-withit .content-withit button {
        background-color: #88A408;
        outline: none;
        text-align: center;
        padding: 6px 10px;
        border: none;
        color: white;
        cursor: pointer;
        font-family: Roboto, Arila, sans-serif; }

/*full-item*/
/*why-we*/
.why-we-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-family: Roboto,sans-serif;
  width: 740px; }
  .why-we-wrapper h1 {
    color: #ABCB16; }
  .why-we-wrapper .why-we-wrapper-items {
    display: -ms-flexbox;
    display: flex; }
    .why-we-wrapper .why-we-wrapper-items .wy-we-row-item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center; }
      .why-we-wrapper .why-we-wrapper-items .wy-we-row-item .item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        margin: 4px; }
        .why-we-wrapper .why-we-wrapper-items .wy-we-row-item .item .why-we-items-item-img {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
          height: 100px;
          width: 100px;
          border: 3px solid #ABCB16;
          border-radius: 50%; }
        .why-we-wrapper .why-we-wrapper-items .wy-we-row-item .item p {
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          color: #ABCB16; }
  .why-we-wrapper .why-we-text {
    display: -ms-flexbox;
    display: flex;
    color: #F2F2F2;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding: 5px; }

.why-we-page {
  margin-left: 0 !important;
  width: 400px !important; }

.wy-we-page-content-after-slider {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

/*why-we*/
/*buy*/
.corzina {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-family: Roboto, sans-serif; }
  .corzina h1 {
    font-size: 30px;
    color: #ABCB16; }
  .corzina span {
    font-size: 20px;
    color: #9C9B9B; }
  .corzina .wrapper-items-corzina {
    display: -ms-flexbox;
    display: flex; }
    .corzina .wrapper-items-corzina .item-corzina {
      background-color: #C4C4C4;
      width: 180px;
      height: 140px;
      position: relative;
      margin: 10px; }
      .corzina .wrapper-items-corzina .item-corzina span {
        position: absolute;
        right: 0;
        top: 0;
        color: red;
        cursor: pointer; }

.buy-page {
  margin-left: 120px; }

.tabstwo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .tabstwo .buy-row-input {
    display: -ms-flexbox;
    display: flex; }
    .tabstwo .buy-row-input input, .tabstwo .buy-row-input textarea {
      background-color: rgba(119, 119, 119, 0.73);
      box-shadow: 4px 0 4px rgba(0, 0, 0, 0.12);
      border: unset; }

.label-wrapper-buy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 10px; }

.oformit {
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .oformit .oformit-price {
    font-size: 48px;
    color: white; }
  .oformit .buy-order {
    background-color: #88A408;
    outline: none;
    text-align: center;
    padding: 6px 77px;
    border: none;
    color: white;
    cursor: pointer;
    height: 45px; }

/*buy*/
/*delivery*/
.delivery-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .delivery-wrapper .delivery-text {
    font-size: 15px;
    color: rgba(214, 214, 214, 0.81);
    font-family: Roboto, sans-serif;
    font-weight: 600; }

/*delivery*/
