@media screen and (max-width: 2000px) {
.contentright{width: 1400px;}
}
/*Адаптивность шапки*/
@media screen and (max-width: 900px) {
.content-wrap header .header-content .header-content-number, .content-wrap header .header-content .header-content-work {
    font-size: 13px
}
.content-wrap header .header-content .header-content-search input {
    padding: 5px 0;
}
.content-wrap header .header-content .header-content-logo img {
    height: 40px;
}

.content-wrap header .header-content {
    padding-top: 10px;
}
.content-wrap header .header-content .header-content-cart {
    padding-right: 5px;
}
}

@media screen and (max-width: 653px) {
    .content-wrap header .header-content .header-content-logo  {order: -2;}
    .content-wrap header .header-content .header-content-search {order: -3;}
    .content-wrap header .header-content .header-content-cart{ order: -1;}
    .content-wrap header .header-content .header-content-number, .content-wrap header .header-content .header-content-work{display: none;}
}
@media screen and (max-width: 350px) {
    .content-wrap header .header-content .header-content-search input { width: 150px;}
    }

/*Адаптивность шапки*/

/*Адаптивность слайдера*/

 @media screen and (max-width: 1370px) {
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock {width: 850px;}
 }
 @media screen and (max-width: 1290px) {
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock{width: 600px;}
 }
 @media screen and (max-width: 1050px) {
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock {width: 440px;}
    .content-wrap .content-center .wrap-content .wrapper .slider .second-content .item-stock img {height: 71px;width: 230px;}
 }

 @media screen and (max-width: 640px) {
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock {width: 320px;}
 }
 /*Адаптивность слайдера*/
 
/*Адаптивность меню + контент*/


 @media screen and (max-width: 1395px) {
    .bg-wrap {position: fixed; width: 100vw;}
    .bg-wrap img {top: -300px}
 }

 @media screen and (max-width: 1370px) {
    .content-wrap .content-center .wrap-content {width: 1280px;}
    .contentright .positions .wrap-food .row-food{justify-content: center;}
 }

 @media screen and (max-width: 1290px) {
    .content-wrap .content-center .wrap-content {width: 1024px;}
    .contentright{width: 900px;}
 }

 @media screen and (max-width: 1050px) {
    .content-wrap .content-center .wrap-content {width: 768px;}
    .contentright{width: 900px;}
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock{width: 444px;}
    .hww{height: 295px !important;}
    .content-wrap .content-center .wrap-content .wrapper .slider{height: 300px;}
 }
 @media screen and (max-width: 780px) {
    .content-wrap .content-center .wrap-content {width: 480px;}
    .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider{flex-wrap: wrap;}
    .content-wrap .content-center .wrap-content .wrapper .slider .second-content{display: none;}
    .content-wrap .content-center .wrap-content .wrapper .slider .main-stock{width: 587px;}
    .bg-wrap img {top: 0;}
    footer .threepixborder{margin-left: 0;}
    footer .footer-content .content-col ul li a{ font-size: 14px;}
 }
 @media screen and (max-width: 575px) {
    .bg-wrap img {top: 150px;}
 }
 @media screen and (max-width: 500px) {
    .modal{width: 300px!important}
    .content-wrap .content-center .wrap-content {width: 300px;}
    footer .footer-content{margin: 3px;flex-wrap: wrap;justify-content: center;text-align: center;}
    .bg-wrap img {top: 80px;}
    .hww{height: 180px !important;}
    .content-wrap .content-center .wrap-content .wrapper .slider{height: 179px;}
 }
 /*Адаптивность меню + контент*/

