@media screen and (max-width: 1370px) {
    .why-we-wrapper{width: 900px;}
 }
 @media screen and (max-width: 1290px) {
    .why-we-wrapper{width: 650px;}
 }
 @media screen and (max-width: 1050px) {
    .why-we-wrapper{width: 500px;}
 }
 @media screen and (max-width: 780px) {
    .why-we-wrapper{width:100%;}
 }
 @media screen and (max-width: 500px) {
    .why-we-wrapper .why-we-wrapper-items{flex-wrap: wrap;}
    .why-we-wrapper h1{font-size: 43px;}
 }

/*Для страницы доставки*/
@media screen and (max-width: 1050px) {
    .delivery-wrapper{flex-direction: column-reverse;}
 }

 @media screen and (max-width: 0500px) {
    .delivery-icon img{width: 300px;}
 }
 /*Для страницы доставки*/