@media screen and (max-width: 1050px) {
    .corzina .wrapper-items-corzina{width: 500px;justify-content: center}
 }

 @media screen and (max-width: 1050px) {
    .corzina .wrapper-items-corzina{width: 300px;justify-content: center}
    #name{width: 200px}	
    #phone{	width: 130px}
    #street{width: 200px}
    #office,#street{width: 50px}
    #date-delivery{width: 150px}
    #time-delivery{width: 100px}
 }
 @media screen and (max-width:780px) {
    #name{width: 200px}	
    #phone{	width: 130px}
    #street{width: 200px}
    #office,#street{width: 50px}
    #date-delivery{width: 150px}
    #time-delivery{width: 100px}
 }
 @media screen and (max-width:500px) {
    .buy-wrapper{width: 270px;}
    .corzina .wrapper-items-corzina{width: 250px;}
    .contentright-buy-page{width: 300px;}
    .tabs{flex-direction: column;height: 117px;}
    .tabstwo{width: 300px;}
    .tabstwo .buy-row-input{flex-wrap: wrap;}
    .oformit{flex-wrap: wrap;}
    .tabs .tab{line-height: unset;height: unset;}
    #name{width: unset;}	
    #phone{	width: unset;}
    #street{width: unset;}
    #office,#street{width: unset;}
    #date-delivery{width: unset;}
    #time-delivery{width: unset;}
 }


 