/*Медиа фулл просмотра товара*/
@media screen and (max-width: 1050px) {
    .full-item .full-item-body{flex-wrap: wrap;justify-content: center;}
 }
 @media screen and (max-width: 780px) {
    .content-wrap .content-center .wrap-content .wrapper .content-after-slider-page-full-item{justify-content: center;}
    .content-wrap .content-center .wrap-content .wrapper .contetn-after-slider .page-full-item{width: 100%;}
 }
 @media screen and (max-width: 500px) {
    .full-item{padding: 0;}
    .full-item .full-item-body .fullimg img{width: 220px;}
    .full-item .full-item-body .fulldescr{padding-left: 0;padding-right: 0;}
    .full-item .full-item-body .fulldescr .titlefull{font-size: 23px;}
    .full-item .full-item-body .fulldescr .ltutlefull-line{flex-wrap: wrap;justify-content: center;}
    .full-item .full-item-footer button{padding: 6px 49px;}
    .withit-items .wrapper-items-withit{flex-wrap: wrap;}
 }
/*Медиа фулл просмотра товара*/